

@if(category === 'planets'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Planets</p>
         <hr class="custom-hr">
      </div>

      <div class="row justify-content-center"> 
         @for(planet of planets; track $index){
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="planet.image" alt="{{planet.name}}" class="card-img-top" (error)="setDefaultImage($event)">
               <div class="card-body">
                  <h5 class="card-title">{{planet.name}}</h5>
                  <p class="card-text">Climate: {{planet.climate}}</p>
                  <p class="card-text">Population: {{planet.population}}</p>
      </div>
      </div>
   </div>}
   </div>
</div>
}


@if(category === 'films'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Films</p>
         <hr class="custom-hr">
      </div>

      <div class="row row-cols-6 justify-content-center"> 
         @for(film of films; track $index){
         <div class="col d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="film.image" alt="{{film.title}}" class="card-img-top" (error)="setDefaultImage($event)">
      <div class="card-body">
         <p class="card-title"> Episode: {{convertToRoman(film.episode_id)}}</p>
         <p class="card-title">{{film.title}}</p>
         <p class="card-text">Release Date: {{film.release_date}}</p>
      
      </div>
      </div>
   </div>}
   </div>
</div>
}


@if(category === 'characters'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Characters</p>
         <hr class="custom-hr">
      </div>

      <div class="row justify-content-center"> 
         @for(character of characters; track $index){
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="character.image" alt="{{character.name}}" class="card-img-top" (error)="setDefaultImage($event)">
               <div class="card-body">
                  <p class="card-title">{{character.name}}</p>
               </div>
            </div>
         </div>}
      </div>
   </div>
}

@if(category === 'species'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Species</p>
         <hr class="custom-hr">
      </div>

      <div class="row justify-content-center"> 
         @for(specie of species; track $index){
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="specie.image" alt="{{specie.name}}" class="card-img-top" (error)="setDefaultImage($event)">
               <div class="card-body">
                  <p class="card-title">{{specie.name}}</p>
                  <p class="card-title">{{specie.classification}}</p>
                  <p class="card-title">{{specie.language}}</p>

               </div>
            </div>
         </div>}
      </div>
   </div>
}

@if(category === 'vehicles'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Vehicles</p>
         <hr class="custom-hr">
      </div>

      <div class="row justify-content-center"> 
         @for(vehicle of vehicles; track $index){
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="vehicle.image" alt="{{vehicle.name}}" class="card-img-top" (error)="setDefaultImage($event)">
               <div class="card-body">
                  <p class="card-title">{{vehicle.name}}</p>
                  <p class="card-title">{{vehicle.model}}</p>
                  <p class="card-title">{{vehicle.cargo_capacity}}</p>
                  <p class="card-title">{{vehicle.vehicle_class}}</p>
               </div>
            </div>
         </div>}
      </div>
   </div>
}

@if(category === 'starships'){
   <div class="container-fluid text-center">
      <div class="mx-5">
         <hr class="custom-hr mt-5">
         <p class="text-light mx-2 custom-font">Starships</p>
         <hr class="custom-hr">
      </div>

      <div class="row justify-content-center"> 
         @for(starship of starships; track $index){
         <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
   
            <div class="card">
               <img [src]="starship.image" alt="{{starship.name}}" class="card-img-top" (error)="setDefaultImage($event)">
               <div class="card-body">
                  <p class="card-title">{{starship.name}}</p>
                  <p class="card-title">{{starship.model}}</p>
                  <p class="card-title">{{starship.cargo_capacity}}</p>
                  <p class="card-title">{{starship.manufacturer}}</p>
               </div>
            </div>
         </div>}
      </div>
   </div>
}