$grey-color: #212529;
$light-color: rgb(181, 181, 181);

.swLogo{
   max-width: 350px;


}
.center-logo {
   
   left: 50%;
   transform: translateX(-50%);
}

i{
   color: $light-color;
}

a.nav-link{
   color: $light-color;
   border-top: none ;   /* Верхняя обводка */


}

hr{
   margin: 0;
}

.nav-link {
   text-decoration: none;
   border-bottom: 2px solid transparent; 
   transition: border-color 0.3s;
   
}

.nav-link:hover {
   border-bottom-color: blue; /* Цвет подчеркивания при наведении */
   box-sizing: border-box;

}
