$grey-color: #212529;
$light-color: rgb(227, 227, 227);

.swLogo{
   max-width: 350px;
}

i{
   color: $light-color;
}

a.nav-link{
   color: $light-color;
   border-top: none ;

}

hr{
   margin: 0;
}

.nav-link {
   text-decoration: none;
   border-bottom: 2px solid transparent; 
   transition: border-color 0.3s;
   
}

.nav-link:hover {
   border-bottom-color: blue;
   box-sizing: border-box;

}
.login{
   text-decoration: none;
   color:$light-color; 
   cursor: pointer;
}