$dark-color: #020202;
$grey-color: #212529;
$light-color: rgb(227, 227, 227);

:host {
   padding: 0;
   margin: 0;
   display: block;
   height: 100vh;
   width: 100%;
   background-image: url('/assets/main.jpeg');
   background-size: cover;
   background-position: center;
   font-family: "Rajdhani", sans-serif;
   font-weight: 500;
   font-style: normal;
}

$grey-color: #212529;
$light-color: rgb(181, 181, 181);

.card{
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 5px;
   border: none; 
   transition: transform 0.3s ease-in-out; 
   
   .card-body{
      color: $light-color;
      text-decoration: none;
      transition: border-color 0.3s;
      border-radius: inherit;
      
   }
   a {
      
      text-decoration: none;
      color: inherit; 
   }
   &:hover {
      transform: scale(1.05); 
   }
}

h5{
   font-family: "Rajdhani", sans-serif;
      font-weight: 500;
      font-style: normal;
}
.content{ padding-top: 5rem;}

