
<div class="container">
   <div class="card mt-4">
      <form [formGroup] = 'loginForm' (ngSubmit)="submitLogin()">
         <div class="card-body">
         
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Email address</label>
               <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
               @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                  <p><small class="danger">email is requiered</small></p>
               }
            </div>
            <label for="inputPassword5" class="form-label">Password</label>
            <input formControlName="password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
            @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
               <p><small class="danger">password is requiered</small></p>
            }
            
            <div class="mt-4 gap-2 d-flex justify-content-center">
               <button [disabled]="loginForm.invalid" class="btn btn-dark">Login</button>
            </div>
            <div class="mt-2 text-center">Don't have an account?<a href='/register'> Sign up</a></div>
         </div>
      </form>
   </div>
</div>

