
<div class="container">
   <div class="card  mt-4">
      <div class="card-body">
         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
         </div>
         <label for="inputPassword5" class="form-label">Password</label>
         <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
         <div class="mt-4 gap-2 d-flex justify-content-center">
            <button class="btn btn-dark">Login</button>
            <button class="btn btn-dark">Sign up</button>

         </div>
      </div>
   </div>
</div>