$dark-color: #020202;
$grey-color: #212529;
$light-color: rgb(181, 181, 181);

:host {
   padding: 0;
   margin: 0;
   display: block;
   width: 100%;
   background-image: url('/assets/3.jpeg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   margin: 0; 
   height: 100%;
}



.card{
   background-color: $grey-color;
   color: $light-color
}
a {
   text-decoration: none; 
   color: inherit; 
}

.ship-list{
   cursor: pointer;
}




.btn{
   color: $light-color;
   text-transform: uppercase;
   width: 200px;
}