$dark-color: #020202;
$grey-color: #212529;
$light-color: rgb(181, 181, 181);

:host {

   display: block;
   width: 100%;
   min-height: 100vh;
   background-image: url('/assets/3.jpeg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed; 
   
}

.card{
   background-color: $grey-color;
   color: $light-color;
   .card-title{
      font-size: 30px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 500;
      font-style: normal;
   }
   
}





.info{
   padding: 15px;
   font-family: "Rajdhani", sans-serif;
   font-weight: 500;
   font-style: normal;
}

