// /* You can add global styles to this file, and also import other style files */
$dark-color: #020202;
$grey-color: #212529;
$light-color: white;

body{
   background-color: $dark-color ;
   color: $light-color;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
